@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: darkcyan;
  background: #d0d0d0;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1rem;
  padding: 1vh 0.5vw;
}
